Repository openslide/openslide-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkmaintainer, annotations

.pre-commit-config.yaml:

# exclude vendored files
exclude: '^(COPYING\.LESSER|examples/deepzoom/static/.*\.js)$'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        name: Modernize python code
        args: ["--py39-plus"]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: Reorder python imports with isort

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        name: Format python code with black

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.19.1
    hooks:
      - id: blacken-docs
        name: Format python code in documentation

  - repo: https://github.com/asottile/yesqa
    rev: v1.5.0
    hooks:
      - id: yesqa
        additional_dependencies: [flake8-bugbear, Flake8-pyproject]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        name: Lint python code with flake8
        additional_dependencies: [flake8-bugbear, Flake8-pyproject]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        name: Check Python types
        additional_dependencies: [flask, openslide-bin, pillow, types-PyYAML, types-setuptools]

  - repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.5
    hooks:
      - id: rstcheck
        name: Validate reStructuredText syntax
        additional_dependencies: [sphinx, toml]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Check spelling with codespell
        additional_dependencies:
          - tomli  # Python < 3.11

  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: local
    hooks:
      - id: mkmaintainer
        name: Sync maintainer issue templates
        entry: .github/maintainer/mkmaintainer.py
        files: .github/maintainer/
        language: python
        additional_dependencies: [PyYAML]

      - id: annotations
        name: Require "from __future__ import annotations"
        language: pygrep
        types: [python]
        # exclude config-like files
        exclude: "^(setup\\.py|doc/conf\\.py|openslide/_version\\.py)$"
        # Allow files with import statement, or of less than two characters.
        # One-character files are allowed because that's the best we can do
        # with paired negative lookbehind and lookahead assertions.  ^ and $
        # don't work because --multiline causes them to match at newlines.
        entry: "(?<!.)(?!.)|\nfrom __future__ import annotations"
        args: [--multiline, --negate]

workflows: bump action versions
  .github/workflows/python.yml
Due: none

workflows: open-code pre-commit check
  .github/workflows/python.yml
Due: none

pre-commit: update versions
  .pre-commit-config.yaml
Due: none

Update for Python 3.14
  .github/workflows/python.yml
  pyproject.toml
Due: none

workflows: bump artifact actions
  .github/workflows/python.yml
Due: none

Drop Python 3.9 support
  .github/workflows/python.yml
  .pre-commit-config.yaml
  README.md
  openslide/lowlevel.py
  pyproject.toml
Due: annotations

Support free-threaded Python
  .github/workflows/python.yml
  openslide/_convert.c
  pyproject.toml
  setup.py
Due: none

OpenSlide Python 1.4.3
  CHANGELOG.md
  openslide/_version.py
Due: none

workflows: switch small jobs to ubuntu-slim
  .github/workflows/python.yml
Due: none

ImageFile context manager value is typed in Pillow >= 12.1.0
  .pre-commit-config.yaml
  openslide/__init__.py
Due: annotations

mkmaintainer: properly use venv managed by pre-commit
  .github/maintainer/mkmaintainer.py
Due: mkmaintainer, annotations

examples/deepzoom: drop redundant type attributes
  examples/deepzoom/templates/files.html
  examples/deepzoom/templates/slide-fullpage.html
  examples/deepzoom/templates/slide-multipane.html
Due: none

examples/deepzoom: update jQuery to 4.0.0
  examples/deepzoom/static/jquery.js
Due: none

examples/deepzoom: update OpenSeadragon to 6.0.0
  examples/deepzoom/static/openseadragon.js
Due: none

examples/deepzoom: update OpenSeadragon to 6.0.1
  examples/deepzoom/static/openseadragon.js
Due: none

workflows: update {upload,download}-artifact
  .github/workflows/python.yml
Due: none

workflows: update actions/checkout and actions/cache to current
  .github/workflows/python.yml
Due: none

examples/deepzoom: update OpenSeadragon to 6.0.2
  examples/deepzoom/static/openseadragon.js
Due: none

Enable Dependabot for GitHub Actions and pre-commit hooks
  .github/dependabot.yml
Due: none

dependabot: don't bump minimum Pillow version in pre-commit config
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: none

Quotation cleanups
  .github/maintainer/mkmaintainer.py
  examples/deepzoom/deepzoom_tile.py
  openslide/__init__.py
  openslide/deepzoom.py
  openslide/lowlevel.py
  tests/test_base.py
  tests/test_deepzoom.py
  tests/test_imageslide.py
  tests/test_openslide.py
Due: mkmaintainer, annotations

Autofix and reformat with Ruff
  doc/jekyll_fix.py
  examples/deepzoom/deepzoom_multiserver.py
  examples/deepzoom/deepzoom_server.py
  examples/deepzoom/deepzoom_tile.py
  openslide/__init__.py
  openslide/deepzoom.py
  tests/common.py
  tests/test_imageslide.py
  tests/test_openslide.py
Due: annotations

Fix Ruff lints
  examples/deepzoom/deepzoom_multiserver.py
  examples/deepzoom/deepzoom_server.py
  examples/deepzoom/deepzoom_tile.py
  openslide/__init__.py
  openslide/deepzoom.py
  openslide/lowlevel.py
  tests/test_deepzoom.py
  tests/test_imageslide.py
  tests/test_openslide.py
Due: annotations

pre-commit: switch to Ruff
  .github/maintainer/README.md
  .github/maintainer/update-python.md
  .pre-commit-config.yaml
  pyproject.toml
Due: mkmaintainer

pre-commit: switch to prek
  .github/workflows/python.yml
  .pre-commit-config.yaml
Due: none

Remove conditionals for Python 3.10 features
  examples/deepzoom/deepzoom_multiserver.py
  examples/deepzoom/deepzoom_server.py
  examples/deepzoom/deepzoom_tile.py
  openslide/deepzoom.py
  openslide/lowlevel.py
Due: annotations

Add Huron to lists of supported formats
  README.md
  doc/index.rst
Due: none

Sort property name attributes
  doc/index.rst
  openslide/__init__.py
Due: annotations

Add openslide.barcode property
  doc/index.rst
  openslide/__init__.py
Due: annotations

Add ARGOS to lists of supported formats
  README.md
  doc/index.rst
Due: none

convert: avoid left shift into sign bit
  openslide/_convert.c
Due: none

OpenSlide Python 1.4.4
  CHANGELOG.md
  openslide/_version.py
Due: none

workflows: drop awk -e from release job
  .github/workflows/python.yml
  CHANGELOG.md
  openslide/_version.py
Due: none

workflows: switch release job back to ubuntu-latest
  .github/workflows/python.yml
  CHANGELOG.md
  openslide/_version.py
Due: none

maintainer/release: automatically sync release table and docs
  .github/maintainer/README.md
  .github/maintainer/release.md
Due: mkmaintainer

docs: drop .tif file extension for Aperio
  README.md
  doc/index.rst
Due: none

doc: drop Jekyll underscore workaround
  doc/conf.py
  doc/jekyll_fix.py
Due: annotations

workflows: use Pillow 12.2.0 on Python 3.13t
  .github/workflows/python.yml
Due: none
